* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:#f0eef1;
}

.header {
    background-color: #fffbfb;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: rgba(0,0,0, 0.16) 0px 4px 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

#booksContainer {
    display:grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    max-width: 100vw;
    height: 85vh;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

input {
    width: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.overlay.active {
    display:block;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    border-radius: 8px;
    background-color: #fffbfb;
    transform: translate(-50%, -50%) scale(0);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s ease-in-out;
}

#sendBtn {
    height: 30px;
    background-color: #dedbdf;
    border: none;
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    align-self:center;
    justify-self: center;
    margin-top: 5px;
}

#sendBtn:hover {
    filter:brightness(90%);
}

#btn {
    height: 30px;
    background-color: #dedbdf;
    border: none;
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    align-self:center;
    justify-self: center;
}

#btn:hover {
    background-color: #c4c2c5;
    transition-duration: 0.2s;
}

.removeBook {
    width: 280px;
    border: none;
    padding: 5px;
    border-radius: 8px;
    align-self:center;
    margin: 5px;
}

.removeBook:hover {
    background-color: #f73660;
    transition-duration: 0.2s;
}

.checkBook {
    width: 280px;
    border: none;
    padding: 5px;
    border-radius: 8px;
    align-self:center;
    margin: 5px;
}

.checkBook:hover {
    filter:brightness(80%);
    transition-duration: 0.2s;
}

.checkBook.Read {
    background-color: #2a8074;
}

.checkBook.Read:hover {
    filter:brightness(80%);
    transition-duration: 0.2s;
}

.checkBook.notRead {
    background-color: #f73660;
}

.checkBook.notRead:hover {
    filter:brightness(80%);
    transition-duration: 0.2s;
}

#books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    grid-template-rows: auto;
    min-width: 80vw;
    gap: 25px;
}

.book {
    display:flex;
    flex-direction: column;
    background-color: #fffbfb;
    max-height: 200px;
    max-width: 300px;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(0,0,0, 0.16) 0px 4px 8px;
}